<div class="jumbotron">
  <div class="container">
    <h1>Agile Activity Atlas</h1>
    <p>Store and search Activities (game / excercise) so I don't
forget them and can easily search them online during and
before training.</p>
    <p><a class="btn btn-primary btn-lg">Sign In</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="...">
    </a>
  </div>
</div>
