<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>Find Agile Activity</h1>
    <p class="lead">Store and Search Activities, Games, and Excercises</p>
    <p class="">Agile Activity Alas will find what you need for your training</p>
    <% if session[:user_id] %>
      <%= link_to "Activities", activities_path, class: "btn btn-success btn-large" %>
    <% else %>
      <%= link_to "Sign In", login_path, class: "btn btn-success btn-large" %>
    <% end %>
  </div>
</div>
<hr />

<div class="container">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <h3>Add random Activity</h3>
        <p>Thumbnail caption...</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <h3>Add random Game</h3>
        <p>Thumbnail caption...</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <h3>Add random Game</h3>
        <p>Thumbnail caption...</p>
      </div>
    </li>
  </ul>
</div>
