// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.wice-grid select, .wice-grid input {
	padding: 2px;
}

.panel-body {
	margin: 0px;
}

.search-area {
	margin-bottom: 60px;
}

.search-input {
	width: 120px;
	float: right;
	margin-right: 20px;
}

.search-button {
	float: right;
}