/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

body { 
	padding-top: 70px; 
}

.container {
	max-width: 940px;
}

.alert-notice {
	background-color: #fcf8e3;
	border-color: #fbeed5;
	color: #c09853;
}

.jumbotron {
  padding: 50px;
  margin-bottom: 30px;
  line-height: 20px;
  border: 1px solid #ddd;
  background: #fff url('background.jpg') no-repeat top center;
}

a:visited.btn-info, a:visited.btn-primary, a:visited.btn-success {
  color: white;
}

.btn {
	width: inherit;
}

label {
  display: inline;
}

.jumbotron form {
  font-size: 0.7em;
}

.jumbotron {
	input, textarea, select, .uneditable-input {
	  padding: 0px 5px;
	  margin-bottom: 10px;
	}
	.btn {
		padding: 6px 14px;
	}
}

.thumbnails .panel-title {
  overflow :hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.right-btn {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
}


.thumbnails .panel-heading {
	margin: 0px;
}

.thumbnails .panel-body {
  overflow :hidden; 
  text-overflow:ellipsis; 
  display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding: 0px;
   margin: 15px;
   min-height: 90px;
}

.thumbnails {
  padding-left: 0px;
}

.right-button {
  float: right;
}