<%= grid(@activities_grid) do |g|
  g.column :name => 'Short Title', :attribute => 'short_title'
  g.column :name => 'Title', :attribute => 'title'
  g.column name: 'Category', model: 'Category', attribute: 'name', custom_filter: :auto do |activity|
    activity.category.name if activity.category
  end

  g.column :name => 'Abstract', :attribute => 'abstract' do |activity|
    if activity.abstract 
      html_text activity.abstract.truncate(150, separator: " ")
    end
  end
  g.column :name => 'Detail', :attribute => 'detail' do |activity|
    if activity.detail 
      html_text activity.detail.truncate(150, separator: " ")
    end
  end
  g.column :name => 'Note', :attribute => 'note' do |activity|
    if activity.note 
      html_text activity.note.truncate(150, separator: " ")
    end
  end

  g.column   :in_csv => false do |activity|
    link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, activity, class: "btn btn-default btn-xs", :title => 'Show activity'
  end
  g.column   :in_csv => false do |activity|
    link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_activity_path(activity), class: "btn btn-default btn-xs", :title => 'Edit activity'
  end
  g.column   :in_csv => false do |activity|
    link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, activity, confirm: 'Are you sure?', method: :delete, class: "btn btn-default btn-xs", :title => 'Delete activity'
  end

end -%>