<h1>List of activities</h1>
<div class="panel panel-default">
  <div class="panel panel-body">
    <div id="tag_cloud">
      <% tag_cloud Activity.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
  </div>
</div>
<br />

<%= render 'activities_grid' %>
<br />

<%= link_to 'Create new activity', new_activity_path, class: 'btn btn-info' %>
