<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
        Header line: 
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Activities", activities_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
			</nav>
		</div>
	</div>
</header>
